# Note: Replace the placeholder values with your actual configuration details.
DATABASE_URL=postgresql://username:password@host:port/database?sslmode=require
JWT_ACCESS_SECRET=your_access_token_secret
JWT_REFRESH_SECRET=your_refresh_token_secret
API_KEY_PREFIX=your_api_key_prefix
ETHEREAL_EMAIL=your_ethereal_email
ETHEREAL_PASSWORD=your_ethereal_password
SMTP_HOST=your_smtp_host
SMTP_PORT=your_smtp_port
SMTP_USER=your_smtp_user
EMAIL_FROM=your_email_from_address
SMTP_PASS=your_smtp_password   